@keyframes rotate {
	to {
		transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0)
			rotate(360deg) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
			scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		--rotate-duration: calc(60s * 5);
	}
	.rotate-clockwise-animation,
	.rotate-counterclockwise-animation {
		animation-duration: var(--rotate-duration);
		animation-fill-mode: both;
		animation-iteration-count: infinite;
		animation-name: rotate;
		animation-timing-function: linear;
	}
	.rotate-counterclockwise-animation {
		animation-direction: reverse;
	}

	.ears,
	.face {
		transition: ease-out transform 0.2s;
	}

	.ears {
		transform: translate(
			clamp(-0.3px, calc(var(--x, 0) * (-0.3px / 100)), 0.3px),
			clamp(-0.5px, calc(var(--y, 0) * (-0.5px / 100)), 0.5px)
		);
	}

	.face {
		transform: translate(
			clamp(-1px, calc(var(--x, 0) * (1px / 100)), 1px),
			clamp(-1px, calc(var(--y, 0) * (1px / 100)), 1px)
		);
	}
}
