body {
	align-items: center;
	display: flex;
	justify-content: center;
}

noscript {
	border-radius: 5vmin;
	border: 1px solid #fff;
	color: #fff;
	display: block;
	font-family: monospace;
	font-size: 4vw;
	margin: 5vmin;
	padding: 5vmin;
	text-align: center;
}
